.task-sidebar {
  padding: 10px;

  .sidebar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    .sidebar-item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .sidebar-icon {
        margin-right: 10px;
      }

      .sidebar-title {
        font-weight: bold;
      }
    }
  }
}
