.task-labels {
  display: flex;

  .label {
    width: 48px;
    height: 32px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    font-size: 14px;
    font-weight: bold;
    color: $list-item-bgclr;
    text-align: center;
  }
}
