.app-header {
  font-family: CharlieText-regular;
  background-color: #026aa7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s, 0.5s;
  position: relative;
  width: 100%;
  color: white;
  min-height: 44px;
  transition: background-color 300ms;

  .left {
    display: flex;

    .shared-logo {
      border-radius: 3px;
      font-family: CharlieDisplay-bold;
      display: flex;

      align-items: center;
      padding: 0 6px;
      margin-left: 6px;

      img {
        border-radius: 5px;
      }

      &.dark h1 {
        color: #172b4d;

        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }

      &.dark p {
        color: #172b4d;
      }

      &.light h1 {
        color: white;
      }

      &.light p {
        color: white;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }

      h1 {
        margin-left: 6px;
        font-size: 1.4rem;
        line-height: 30px;
        display: contents;
        color: white;
      }

      p {
        color: white;
        margin-top: 6px;
        font-size: 0.875rem;
        margin-left: 15px;
        letter-spacing: 0.5px;
        font-family: CharlieText-regular;
      }

      img {
        margin-right: 7px;
        width: 22px;
      }

      &.dark {
        color: #172b4d;

        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
    }

    .boards {
      height: 30px;
      border-radius: 3px;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
      display: flex;
      align-items: center;
      padding: 8px 32px 6px 12px;
      margin-left: 6px;
      font-size: 14px;
      position: relative;

      .svg-container {
        position: absolute;
        right: 8px;
        top: 6px;
        font-size: 20px;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
        cursor: pointer;
      }

      &.dark {
        color: #172b4d;

        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }

      &.light {
        color: white;
      }
    }
  }

  .home-nav {
    font-size: 1.25em;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;

    &.none {
      display: none;
    }

    & > * {
      padding: 0px 10px;
      height: 44px;
      display: flex;
      align-items: center;
      font-size: 1rem;
    }

    .login {
      color: #172a4d;
    }

    .login:hover {
      background-color: #0747a6;
      color: white;
    }

    .signup {
      background-color: $blue-main;
      color: white;

      &:hover {
        background-color: #0747a6;
      }
    }
  }

  &.home-header {
    background-color: #fff;

    .shared-logo.light {
      font-size: 22px;
      margin-left: 10px;
      color: #095ed8;

      h1 {
        color: rgb(37, 56, 88);
        font-size: 30px;
        margin-left: 11px;
      }
    }

    &:hover {
      box-shadow: rgb(9 30 66 / 15%) 0px 0.5rem 1rem 0px;
    }
  }

  &.login-header {
    display: none;
  }

  .user-img {
    height: 32px;
    object-fit: cover;
    width: 32px;
    margin-inline-end: 8px;
    cursor: pointer;

    img {
      border-radius: 25em;
      height: 32px;
      object-fit: cover;
      width: 32px;
      margin-inline-end: 8px;
      cursor: pointer;
    }
  }
}

// // MEDIA QUERIES

// //////////////////////////////////////////// 640px ////////////////////////////////////////////
// @include for-narrow-layout {
//   .app-header {
//     .home-nav {
//       & > * {
//         font-size: 1.2rem;
//         padding: 0px 22px;
//       }
//     }
//   }
// }

// //////////////////////////////////////////// 780px ////////////////////////////////////////////
// @include for-small-layout {
// }

// //////////////////////////////////////////// 980px ////////////////////////////////////////////
// @include for-normal-layout {
// }

// @include for-wide-layout {
// }
