.board-header {
  display: flex;
  justify-content: space-between;
  padding: 12px 10px 12px 16px;
}
.board-header button:hover {
  background-color: #a6c5e229;
}
.board-header button {
  padding: 6px;
}
.board-header-right-container {
  display: flex;
  text-align: center;
  align-items: center;
}
.members-img img {
  height: rem(28px);
}
.members-img {
  display: flex;
}
.member-modal {
  position: absolute;

  top: rem(100px);
  right: rem(-80px);
  width: rem(304px);
  height: rem(221px);
}

.member-modal-content img {
  object-fit: cover;
  height: 86px;
  width: 86px;
}
