.card-composer-add-btn {
  padding: 6px 12px;
  background-color: #0c66e4;
  color: white;
  border-radius: 3px;
  line-height: 20px;
  margin-inline-end: 4px;

  &:hover {
    background-color: #0055cc;
  }
}

.card-composer-add-btn:hover {
  background-color: $btn-hovered;
}
  .card-composer-textarea-container {
    padding: 8px 8px 4px 12px;
    box-shadow: 0px 1px 1px rgba(9, 30, 66, 0.2509803922), 0px 0px 1px rgba(9, 30, 66, 0.3098039216);
    border: none;
    border-radius: 8px;
  flex-grow: 1;
  position: relative;
  z-index: 10;
  overflow: hidden;
  background-color: white;
  margin-bottom: 7px;
}
.card-composer-textarea {
  outline: none;
  resize: vertical;
  overflow: hidden;
  overflow-wrap: break-word;
  height: 40px;
  background: none;
  border: none;
  box-shadow: none;
  height: auto;
  margin-bottom: 4px;
  max-height: 162px;
  min-height: 54px;
  overflow-y: auto;
  padding: 0;
  width: 100%;
}
.card-composer {
  display: flex;
  flex-direction: column;
}
.card-composer-buttons {
  display: flex;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  margin-bottom: 7px;
}
.open-card-composer-btn {
  margin: 8px;
  padding: 4px 8px 4px 6px;
  text-align: left;
  height: 28px;
  height: 28px;
  flex-grow: 1;
  color: rgb(68, 84, 111);
  text-align: left;
}
.open-card-composer-btn:hover {
  background-color: $bgcolor-hover-color;
  border-radius: 8px;
}
.open-card-plus {
  margin-inline-end: 8px;
}
.x-icon-card {
  color: $lighter-gray;
  height: 32px;
  line-height: 32px;
  width: 32px;
}
.x-icon-card:hover {
  background-color: inherit;
  filter: brightness(80%);
}
