.task-labels {
  display: flex;
  gap: 5px;

  .label {
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    height: 32px;
    padding-inline-end: 12px;
    padding-inline-start: 7px;
    border-radius: 5px;
  }
}
