.task-cover {
  height: 116px;

  color: white;

  font-size: 16px;
  position: relative;

  &.img {
    height: 160px;
  }

  img {
    height: 100%;
    width: auto;
  }
}

.close-task-details-btn {
  position: absolute;
  height: 40px;
  width: 40px;
  right: 3px;
  top: 2px;
  background-color: transparent;
  border: none;
  color: $light-gray;
  font-size: 27px;
  padding: 6px 6px 2px;
  margin: 4px;
  border-radius: 50%;
  transition: all 0.3s;

  &:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.call-to-action {
  display: flex;
  color: black;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 6px 12px 6px 6px;
  align-items: center;

  .cta-icon {
    margin-right: 5px;
  }

  .cta-text {
    margin-left: 5px;
  }
}
