.task-sidebar {
  padding: 10px 0;
  margin-bottom: 100px;

  h3 {
    font-size: 12px;
    // margin-top: 0; /* Optional: Reset margin */
    margin-bottom: 10px; /* Optional: Adjust margin */
  }

  .sidebar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .has-attachments {
      .sidebar-item {
        width: calc(
          165px - 50px - 40px
        ); /* Subtract an additional 40px for attachment icon and margin */
      }
    }

    .sidebar-item {
      font-size: 12px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      background-color: $background-gray;
      padding: 8px;
      border-radius: 4px;
      transition: background-color 0.2s ease, color 0.2s ease, cursor 0.2s ease;
      cursor: pointer;
      width: calc(165px - 50px);
      &:hover {
        background-color: #e1e4e9;
      }

      .sidebar-icon {
        margin-right: 10px;
      }

      .sidebar-title {
        font-weight: bold;
      }
    }
  }
}
