.task-cover {
  color: white;
  border-radius: 8px 8px 0 0;
  font-size: 16px;
  position: relative;

  background-size: contain;
  background-origin: content-box;
  box-sizing: border-box;
  background-position: center center;
  height: 160px;

  padding: 0px;
  background-repeat: no-repeat;
}

.close-task-details-btn {
  border-radius: 50%;
  color: var(--ds-icon, #42526e);
  height: 32px;
  margin: 4px;
  overflow: hidden;
  padding: 4px;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 85ms, color 85ms;
  width: 32px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  &:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
.close-task-details-btn svg {
  font-size: 20px;
}

.call-to-action {
  display: flex;
  color: black;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 6px 12px 6px 6px;
  align-items: center;
  background-color: inherit;

  .cta-icon {
    margin-right: 5px;
  }

  .cta-text {
    margin-left: 5px;
  }
}
