.task-sidebar {
  padding: 0 8px 8px 8px;
  margin-bottom: 100px;
  align-self: baseline;
  h3 {
    font-size: 12px;
    // margin-top: 0; /* Optional: Reset margin */
    margin-bottom: 10px; /* Optional: Adjust margin */
  }

  .sidebar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 144px;
    .has-attachments {
      .sidebar-item {
        width: 144px; /* Subtract an additional 40px for attachment icon and margin */
      }
    }

    .sidebar-item {
      justify-content: flex-start;
      width: 144px !important;
      font-size: 14px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      background-color: $background-gray;
      padding: 8px;
      border-radius: 4px;
      transition: background-color 0.2s ease, color 0.2s ease, cursor 0.2s ease;
      cursor: pointer;
      width: calc(165px - 50px);

      &:hover {
        background-color: #e1e4e9;
      }

      .sidebar-icon {
        margin-right: 10px;
        font-weight: bold;
        display: flex;
        justify-self: center;
        align-self: center;
      }

      .sidebar-title {
        margin-bottom: 2px;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
          Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
      }
    }
  }
}

.sidebar-item:hover {
  background-color: $ds-background-neutral-hovered;
}

.checklist-content {
  display: flex;
  justify-content: center;
  text-align: center;
}
