.screen {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 48px 0 80px;
  background-color: rgba(0, 0, 0, 0.6);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #000000a3;
}

.task-details {
  max-width: 768px;
  background-color: #f1f2f4;
  color: $list-text-color;
  font-family: CharlieText-regular;
  display: inline-block;
  left: 50%;
  border-radius: 8px;

  .task-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 50px;

    margin-bottom: 24px;
  }

  .task-column {
    display: flex;
    flex-direction: column;

    .task-title {
      font-size: 24px;
      margin-bottom: 5px;
    }

    .attachments-section {
      margin-bottom: 10px;

      h2 {
        font-size: 16px;
        margin-right: 10px;
        margin-bottom: 5px;
      }
    }

    .div-activity {
      margin: 0 0 4px 20px;
      padding: 8px 0;
      position: relative;
      .activity {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        gap: 15px;
        margin-left: -6px;
      }

      .icon {
        font-size: 16px;
      }
      h2 {
        margin-bottom: 10px;
        font-size: 16px;
      }

      .input-task-activity {
        width: 512px;
        height: 36px;
        margin-left: 70px;
        width: 95%;
        padding: 8px;
        border: none;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0px 1px 3px rgba(9, 30, 66, 0.25);
        font-size: 14px;
        color: #172b4d;
        outline: none;
        transition: box-shadow 0.2s ease;
        cursor: pointer;
        &:focus {
          box-shadow: 0px 2px 4px rgba(9, 30, 66, 0.3);
        }

        &:hover {
          background-color: #e6e8eb;
        }
      }
    }
  }

  .task-props {
    display: flex;
    margin-left: 70px;
    flex-wrap: wrap;
    .members-wrapper,
    .labels-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
      margin-right: 10px;
      h6 {
        margin-bottom: 10px;
      }

      .members {
        display: flex;
        align-items: center;

        .members-img {
          display: flex;
          align-items: center;

          div {
            display: flex;
            align-items: center;

            img {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              margin-right: 4px;
              cursor: pointer;
            }
          }
        }

        .add-member {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          background-color: rgba(0, 0, 0, 0.1);
          border-radius: 50%;
          transition: background-color 0.2s ease;
          cursor: pointer;
          margin-left: 10px;

          &:hover {
            background-color: rgba(0, 0, 0, 0.2);
          }

          svg {
            font-size: 16px;
            color: $list-text-color;
          }
        }
      }

      .labels {
        display: flex;
        flex-wrap: wrap;

        gap: 5px;

        .add-label {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          background-color: rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          transition: background-color 0.2s ease;

          cursor: pointer;

          &:hover {
            background-color: rgba(0, 0, 0, 0.2);
          }

          svg {
            font-size: 16px;
            color: $list-text-color;
          }
        }
      }
    }
  }
}

.div-task-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 60px;
  margin-left: 30px;
  margin-top: 15px;

  h2 {
    font-size: 24px;
    margin-right: 18px;
    margin-bottom: 5px;
  }

  .group-id {
    width: 100%;
    margin-top: 0;
    p {
      margin-bottom: 10px;
      margin-left: 33px;
    }
  }
}
.input-task-activity {
  width: 95%;
}
.grid-details-margin {
  margin-left: 70px;
}
.activity-comment {
  background-color: var(--ds-background-input, #fff);
  border-radius: 3px;
  box-shadow: var(--ds-shadow-raised, 0 1px 2px -1px #091e4240, 0 0 0 1px var(--ds-border, #091e4214));
  box-sizing: border-box;
  clear: both;
  display: inline-block;
  margin: 4px 2px 4px 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 8px;
  padding: 8px 12px;
}
.activity-comments {
  display: flex;

  width: 95%;
  flex-direction: column;
}
.description-title-container {
  align-items: center;
  padding-bottom: 8px !important;
  padding-top: 16px !important;
}
.img-uploader-btn {
  -webkit-appearance: none;
  box-sizing: border-box;
  display: block;
  line-height: 20px;
  margin-bottom: 12px;
  outline: none;
  padding: 8px 12px;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;
  border: none;
  width: 100%;
  color: #172b4d;
  background-color: #fff;
  text-align: start;
}
.img-uploader-btn:hover {
  background-color: #091e4214;
}
.show-description-value {
  max-width: 450px;
  overflow: auto;
}
