.board {
  height: calc(100vh - 44px);
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  width: 100%;
}
.root-div {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}
