.board-header {
  display: flex;
  justify-content: space-between;
  padding: 12px 10px 12px 16px;

  .go-back {
    position: absolute;
    left: 5%;
    top: 30%;
    font-size: 20px;
    font-weight: 200;
    color: #172b4d;

    &:hover {
      cursor: pointer;
    }
  }

  .title {
    cursor: pointer;
  }

  input.board-title-input {
    height: 2em;
    margin-top: 15px;
  }

  .board-title-input {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: text;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    width: 60%;
    resize: none;
  }

  .group-list-header {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    font-size: 18px;
    font-weight: 700;
  }

  span {
    .title {
      .dark {
        color: #172b4d;
      }
      .light {
        color: white;
      }
    }
  }
}

.board-header-left.dark {
  color: #172b4d;
}

.board-header-left.dark button {
  color: #172b4d;
}

.board-header-left.dark svg:not(.yellow-star) {
  color: #172b4d;
}

.board-header-left.dark svg .yellow-star {
  color: #f2d600;
}

.board-header-right-container.dark {
  color: #172b4d;
}

.board-header-right-container.dark button {
  color: #172b4d;
}

.board-header-right-container.dark svg {
  color: #172b4d;
}

.board-header button:hover {
  background-color: #a6c5e229;
}
.board-header button {
  padding: 6px;
}
.board-header-right-container {
  display: flex;
  text-align: center;
  align-items: center;
}
.members-img img {
  height: rem(28px);
}
.members-img {
  display: flex;
}
.member-modal {
  position: absolute;
  background-color: white;
  color: black;
  z-index: 1;
  top: rem(100px);
  right: rem(-80px);
  width: rem(304px);
  height: rem(221px);
}
.member-modal button {
  color: black !important;
}
.member-modal-content img {
  object-fit: cover;
  height: 86px;
  width: 86px;
}

.star-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  line-height: 32px;
  border-radius: 3px;
  color: #fff;
  font-size: 20px;

  .yellow-star {
    color: #f2d600;
    font-size: 20px;
  }

  &:hover {
    cursor: pointer;
    color: #f2d600;
    background-color: #ffffff3d;

    & > * {
      transform: scale(1.1);
    }
  }
}

.filter-button {
  display: flex;
  align-items: center;
}
.share-btn {
  display: flex;
  align-items: center;
}
.board-header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.board-header svg {
  color: white;
}
.board-header button {
  color: white;
  display: flex;
  align-items: center;
}
.board-header {
  color: white;
  border-bottom: 1px solid gray;
}
