.task-item-title {
  word-wrap: break-word;
  clear: both;
  color: $list-text-color;
  display: block;
  margin: 4px 0 8px;
  overflow: hidden;
  text-decoration: none;
}
.task-list {
  max-width: 260px;
  flex: 1 1 auto;
  margin-left: 6px;
  margin-right: 4px;
  min-height: 0;
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  overflow-x: hidden;
  overflow-y: auto;
  padding: 1px 4px 0;
  z-index: 1;
}
.task-list-item {
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // padding: 8px 8px 4px 12px;
  margin-bottom: 7px;
  background-color: white;

  box-shadow: $ds-shadow-raised;
}
.task-list-cover {
  width: 100%;
  height: 32px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.task-preview {
  width: 100%;
  padding: 8px 8px 4px 12px;
}
.cover-img-section {
  width: 100%;
}
.cover-img-section img {
  width: 100%;
  object-fit: cover;
}
.task-list-item img {
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.task-list-item:hover {
  background-color: inherit;
  cursor: pointer;
}

.task-item-footer {
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  color: $light-gray;
  // font-size: 12px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 5px;
  flex-wrap: wrap;
}

.date-container {
  display: flex;
  align-items: center;
  gap: 5px;

  .clock-icon {
    display: flex;
    align-items: center;
    svg {
      height: 16px;
      width: 16px;
      vertical-align: middle;
    }
  }

  .due-date {
    font-size: 12px;
    line-height: 1;
    vertical-align: middle;
  }
}

.attachments-icon {
  display: flex;
  align-items: center;
  gap: 5px;

  svg {
    height: 16px;
    width: 16px;
  }

  // .attachments-count {
  //   font-size: 12px;
  //   line-height: 1;
  // }
}

.comments-icon {
  display: flex;
  align-items: center;
  gap: 5px;

  svg {
    height: 16px;
    width: 16px;
  }

  .comments-count {
    font-size: 12px;
    line-height: 1;
  }
}

.props-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;

  .prop-text {
    display: flex;
    align-items: center;
  }
}

.members-icons {
  display: flex;
  align-items: flex-end;
  gap: 3px;
  flex-wrap: wrap;
  margin-top: 4px;
}

.members-img {
  display: flex;
  align-items: center;

  flex-wrap: wrap;
}

.member-img img {
  height: 24px;
  width: 24px;
}

.task-pen {
  position: absolute;
  color: black;
  right: 10px;
  top: 10px;
}

.list-header-name {
  background: #0000;
  border-radius: 3px;
  border: none;
  box-shadow: none;
  color: $list-item-clr;
  font-weight: 600;
  font-size: 14px;
  height: 20px;
  margin: -4px 0;
  max-height: 256px;
  min-height: 20px;

  width: 224px;
  padding: 4px 8px 4px 12px;
  resize: none;
  overflow: hidden;
}
.task-preview-labels {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 0px;
}

.group-label {
  margin-top: 4px;
  margin-bottom: 4px;
  padding-right: 0;
  padding-left: 0;
  min-width: 40px;
  max-width: 40px;
  height: 8px;
  background-color: var(--collapsed-background-color, var(--ds-text, #172b4d));
  color: transparent;
  border-radius: 4px;
}
.list-header-name:focus {
  box-shadow: inset 0 0 0 2px #0079bf;
  outline: none;
  background-color: #fff;
}
