.board-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 17px;
  padding: 0 0 11px;
}

.new-board {
  height: 96px;
  background-color: #091e420a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 3px;
  color: #172b4d;

  &:hover {
    cursor: pointer;
    background-color: #091e4214;
  }
}

@media (max-width: 700px) {
  .board-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}
