// Labels
$green: #7bc86c;
$yellow: #f5dd29;
$orange: #ffaf3f;
$red: #ef7564;
$purple: #cd8de5;
$dark-blue: #5ba4cf;
$blue-main: #2a62f6;
$background-gray: #ebecef;

//Background hover BTN
$bgcolor-hover-color: #091e4224;
$dynamic-button-hovered: #a6c5e229;
$dynamic-button-pressed: #bfdbf847;
$light-gray: #45526c;

//Original colors from Trello Light
$dynamic-button: transparent;
$dynamic-button-hovered: #a6c5e229;
$dynamic-button-pressed: #bfdbf847;
$dynamic-button-highlighted: #dfe1e6;
$dynamic-button-highlighted-text: #172b4d;
$dynamic-button-highlighted-hovered: #ffffff;
$ds-background-neutral-hovered: #091e420a;
$dynamic-text: #ffffff;
$dynamic-text-transparent: hsla(0, 0%, 100%, 0.16);
$dynamic-background: hsl(250, 47.9%, 40.7%);
$dynamic-background-transparent: hsla(250, 47.9%, 45.7%, 0.9);

//group-list-items
$list-item-bgclr: #f1f2f4;
$list-text-color: #172b4d;
$list-item-clr: #172b4d;
$ds-shadow-raised: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;

$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

// Font Color

$font-base: #ffffff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
