// Labels
$green: #7bc86c;
$yellow: #f5dd29;
$orange: #ffaf3f;
$red: #ef7564;
$purple: #cd8de5;
$dark-blue: #5ba4cf;
$list-item-clr: #101204;

$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

// Font Color

$font-base: #ffffff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
