// Labels
$green: #7bc86c;
$yellow: #f5dd29;
$orange: #ffaf3f;
$red: #ef7564;
$purple: #cd8de5;
$dark-blue: #5ba4cf;
$blue-main: #2a62f6;
$background-gray: #ebecef;

//Background hover BTN
$bgcolor-hover-color: #091e4224;
$dynamic-button-hovered: #a6c5e229;
$dynamic-button-pressed: #bfdbf847;
//group-list-items
$list-item-bgclr: #f1f2f4;
$list-text-color: #172b4d;
$list-item-clr: #172b4d;
$ds-shadow-raised: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;

$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

// Font Color

$font-base: #ffffff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
